.Blog {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.blogs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 8%; */
}
.blogs-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post {
  display: flex;
  flex-direction: column;
  padding: 8px;
  flex-basis: 30%;
  margin: 1.5%;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgb(214, 214, 214);
  transition: all 0.25s linear;
  border-radius: 8px;
}
.post:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.post-img {
  height: 50%;
  padding-bottom: 0.45rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
}
.post-content {
  padding-bottom: 5rem;
}
.time {
  color: orange;
  margin: 5px;
}
.post-title {
  font-size: 1.2em;
}
.post-button {
  width: calc(100% - 16px);
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  position: absolute;
  bottom: 12px;
  a {
    color: white;
    text-decoration: none;
    width: 30%;
    padding: 2%;
    border-radius: 16px;
    box-shadow: 0 0 2px 1px rgba(184, 184, 184, 0.589);
    background-color: orange;
  }
  button {
    border: none;
    color: white;
    font-weight: 500;
    width: 100%;
    background-color: transparent;
  }
  a:hover {
    background-color: rgb(124, 163, 178);
    button {
      color: rgb(44, 44, 44);
    }
  }
}

.buttonsm {
  box-sizing: content-box;
  background-color: orange;
  color: white;
  padding: 4px 14px;
  border-radius: 16px;
  font-weight: 500;
  transition: all 0.25s linear;
  cursor: pointer;
  margin-top: 2rem;
  a {
    text-decoration: none;
    color: white;
    transition: all 0.25s linear;
  }
}
.buttonsm:hover {
  background-color: rgb(124, 163, 178);
  color: rgb(44, 44, 44);
  a {
    color: rgb(44, 44, 44);
  }
}
@media screen and (max-width: 800px) {
  .blogs {
    display: flex;
    flex-direction: column;
  }
}
