.BlogDetail {
  min-height: 100vh;
  /* padding-bottom: 2rem; */
}
.BlogDetailtop {
  display: flex;
  position: relative;
}
.BlogDetailBack {
  position: absolute;
  text-align: left;
  font-size: 1.7em;
  padding: 1rem 1rem 0 1rem;
  a {
    text-decoration: none;
  }
  i {
    margin-right: 0.5rem;
  }
}
.BlogDetailfirst {
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  h3 {
    font-size: 2.3em;
  }
}
.BlogDetailTitle {
  h3 {
    font-size: 2.5em;
  }
}
.BlogDetailData {
  padding: 0 1rem 1rem 1rem;
  text-align: justify;
}
.BlogDetailTime {
  color: orange;
  font-size: 1.25em;
  padding-bottom: 2rem;
}
.BlogDetailContentDo {
  padding: 1rem;
}
.contentH {
  font-size: 1.25em;
}
.contentp {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
.BlogDetailImg {
  float: left;
  width: 50%;
  padding: 0 1rem 0 1rem;

  img {
    width: 100%;
    border-radius: 8px;
  }
}
/* .footer {
  clear: left;
  position: fixed;
  bottom: 0;
} */
@media screen and (max-width: 800px) {
  .BlogDetailImg {
    float: none;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  .BlogDetailTime,
  .BlogDetailTitle {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .BlogDetailTime {
    padding-bottom: 1rem;
  }
  .BlogDetailData {
    font-size: 1.1em;
  }
}
