.Contact {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outer-contact {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Contact-main {
  width: 80%;
  display: flex;
}

.Contact-img {
  width: 50%;
  flex-grow: 1;
}
.Contact-img img {
  width: 100%;
}
.ContactInfo {
  padding-top: 1.5rem;
  padding-left: 2px;
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  position: relative;
}
form {
  width: 100%;
}
.formtitle {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.formtitle h5 {
  font-size: 2em;
  /* color: black; */
  font-weight: 700;
}
.ContactInfo form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.ContactInfo input,
textarea {
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  background-color: rgb(219, 219, 219);
  border-radius: 24px;
  font-size: 1.1em;
  padding: 16px 24px;
  color: gray;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
input::placeholder {
  color: gray;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
textarea::placeholder {
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.input {
  width: 100%;
}
.sendmail {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sendmail input {
  width: 50%;
  font-size: 1.1em;
  padding: 16px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: rgba(255, 166, 0, 0.856);
  border-radius: 24px;
}
@media screen and (max-width: 800px) {
  .Contact-main {
    flex-direction: column;
  }
  .Contact-img {
    width: 100%;
  }
  .ContactInfo {
    width: 100%;
  }
}
