.project-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  display: flex;
  /* gap: 2rem; */
  width: 80%;
  /* background-color: #1e293b; */
  padding: 1.5rem;
  border-radius: 12px;
  color: white;
   background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 15%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(8px);
  transition: all 0.4s linear;
  animation: box linear;
  animation-timeline: view();
  animation-range: entry cover;
}

.project-card:hover {
  transform: translate(10px, -10px);
  transform: scale(1.125);
}

.project-image {
  flex: 4;
  display: none;
}

.project-image img {
  width: 80%;
  height: auto;
  object-fit: cover; /* ensures it fills space cleanly */
  border-radius: 8px;
}

.project-details {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-details h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-details p {
  margin-bottom: 0.5rem;
  color: #cbd5e1;
}

.tech-stack {
  font-size: 0.9rem;
  color: #94a3b8;
  margin-bottom: 0.5rem;
}

.project-links a {
  color: #facc15;
  font-weight: bold;
  text-decoration: none;
}
