@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

*{
  margin:0;
  padding:0;
  box-sizing: border-box ;
}
body{
  text-align: left;
  margin: 0 1rem 1rem 1rem;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 2rem 2rem ;
}
.nav-left{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  font-weight: 1000;
  color: rgb(255, 208, 0);
  display: flex;
}
.button{
  height: 2rem;
  width: 2rem;
  display: none;
  border: none;
  background-color: transparent;
  margin:0 0.75rem 0 0.5rem;
}
.nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(39, 39, 39);
}
.nav-right a{
  text-decoration: none;
  margin: 1rem;
  font-size: 1em;
  font-weight: 600;
  color: rgb(61, 60, 60);
}
.sidebar{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.665);
  /* border: 2px solid orange; */
  box-shadow: 1px 1px 1px 1px rgba(93, 93, 92, 0.296);
  padding: 1rem 1rem 1rem 1.5rem;
  animation: slider 0.15s ease-in-out ;

}
.sidebar a{
  text-decoration: none;
  margin-top: 1rem;
  color:peru;
}
@keyframes slider {
  0%{
    transform: translateX(-50%);
  }
  100%{
    transform: translateX(0);
  }
  
}
.Main{
  display: flex;
  justify-content:space-between;  
  align-items: center;
  padding: 0 1rem 5rem 1rem;
  margin: 2rem;
}
.main-left{
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 0 5rem 0 0;
}
.wel{
  font-size: 2em;
  font-weight: 800;
  color: rgb(251, 168, 13);
  margin-bottom: 2rem;
}
.about{
  font-size: 1em;
  color: rgb(35, 35, 35);
}
.Intro{
  font-size: 3em;
  margin-bottom: 2rem;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.Prof{
  color: orange;
  font-weight: 900;
}

.main-right{
  width: 40%;
  padding: 0 2rem 0 2rem;
}
.thanos{
  width:100%;
  min-width: none;
}

.handle{
  display: flex;
  margin-top: 1rem;
}
.icon{
  margin: 1rem;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  color: rgb(255, 234, 0);
  border: 2px solid rgb(255, 234, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.handle i{
  color: rgb(255, 234, 0);
  font-size: 2rem;
}
.leetcode{
  height: 2rem;
  width: 2rem;
}
.circle{
  height: 32rem;
  width: 32rem;
  border-radius: 50%;
  position: absolute;
  background-color: orange;
  z-index: -1;
}
/*My Service*/
.MyService{
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.MyService-Top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.MyService-top-heading{
  font-size: 3em;
  margin: 1rem;
  font-weight: 700;
}
#MyService-Two{
  color: orange;
}
.MyService-top-about{
  color: rgb(25, 25, 25);
  font-size: 1em;
  padding: 0 30% 0 30%;
}
.bottom-bar{
  width: 10rem;
  height: .25rem;
  background-color: orange;
  margin: 1rem;
  border-radius: 16px;
}
.bottom{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.MyService-bottom{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  width: 75%;

}
.MyService-box{
  border: 1px solid rgb(187, 186, 186);
  border-radius: 4px;
  margin: 5%;
  padding: 3rem;
  color: rgb(61, 61, 61);
  background-color: white;
}
.box-icon{
  color:orange;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.MyService-box-heading{
  font-size: 1.45em;
  font-weight: 700;
  margin: 1rem;
  text-transform: uppercase;
}
.MyService-box-content{
  font-size: 1.15em;

}
.MyService-box:hover{
  background-color: orange;
  color: white;
  i{
    color: white;
  }
}

/*MyWork*/
.MyWork{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.MyWork-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.MyWork-top-heading{
  font-size: 2.5em;
  font-weight: 700;
}
.MyWork-first{
  color: black;
}
.MyWork-second{
  color: orange;
}
.MyWork-top-about{
  font-size: 1em;
  width: 70%;
  color: rgb(36, 36, 36);
}
.MyWork-bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MyWork-bottom-nav{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.MyWork-nav-button{
  padding: 0.5rem;
  margin: 0 1rem 0 1rem;
  font-size: 1.2em;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: none;
  font-weight: 500;
}
.active{
  background-color: orange;
  color: white;
}
/* .MyWork-nav-button:focus {
  background-color: orange;
  color: white;
} */
.MyWork-bottom-Work{
  width: 70%;
  float: left;
  columns:3;
}
.Work{
  width: minmax(200px,1fr);
  margin: 0.25rem auto;
  position: relative;
}
.Work img{
  width:100%;
  width:100%;
  vertical-align: center;
}
.Work-info{
  display: none;
  position:absolute;
  top: 0;
  height: 100%;
  width: 100%;
  
  background-color: rgba(104, 104, 104, 0.317);
}
.Work-info h5{
  position: absolute;
  font-size: 2em;
  top: 4px;
  left: 6px;
  color: orange;

}
.Work-info a{
  text-decoration: none;
  color:blue;
  font-size: 1.2em;
  position: absolute;
  bottom: 0.5rem;
  right: 4px;
}
.Work:hover{
  .Work-info{
    display: block;
  }
}
.LoadMore button{
  border: none;
  background-color: orange;
  border-radius: 4px;
  color: white;
  font-size: 2em;
  width: 5rem;
  margin: 0.25rem auto;
  padding: 0.1rem;

}
.LoadMore button:focus{
    outline: none;
}




/*Medida query*/
@media screen and (max-width:600px) {
  body{
    font-size: 12px;
    
  }
  .button{
    display: block;
  }
  .button i{
    font-size: 1.2rem;
  }
  .Intro{
    font-size: 2.35em;
  }
  .about{
    font-size: 1.2em;
  }
  .thanos{
    width:100%;
    height: auto;
    object-fit: contain;
  }
  .img{
    padding: 0;
  }
  .circle{
    width: 70vw;
    height: 70vw;
  }
  .Main{
    flex-direction: column;
    align-items: center;
  }
  .main-left{
    width: 100%;
    padding-left: .25rem;
    padding-right: 0.25rem;
  }
  .main-right{
    width: 100%;
    padding-right: 1.5rem;
  }
  .MyService-bottom{
    grid-template-columns: 100%;
  }
  .MyService-box{
    padding: 1.25rem;
  }
  .MyService{
    padding: 2rem;
  }
  .nav-right a{
    margin: 0.25rem;
  }
  .nav-right{
    overflow: auto;
    margin-left: 0.25rem;
    display: none;
  }
  .icon{
    width: 2rem;
    height: 2rem;
  }
  .leetcode{
    width: 1.5rem;
    height: 1.5rem;
  }
  .MyWork-bottom-Work{
    columns: 1;
  }
}
